.nav-item {
    --bs-nav-link-color: black;
    --bs-nav-link-font-weight: bold;
    --bs-nav-tabs-link-active-color: #EC5800;
    --bs-nav-link-hover-color: #EC5800;
    --bs-nav-tabs-border-width: 0;
    font-size: 1rem;
    border-bottom: .4rem solid black;

    /* &:hover {
            border-bottom: .5rem solid black;
        } */

    .nav-link.active {
        display: flex;
        justify-content: center;
        align-items: end;

        &::before {
            border: none;
            position: absolute;
            display: block;
            height: 1rem;
            width: 1rem;
            background-color: black;
            transform: translateY(.7rem);
            clip-path: polygon(50% 50%, 0 100%, 100% 100%);
            content: "";
        }
    }
}

.tab-content {
    transform: translate(-50% 0);
}

.catalogue,
.tab-pane {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 2rem;
    row-gap: 1.5rem;
    padding: 1.5rem 3rem;
    max-width: 75rem;
}

@media (max-width: 767px) {

    /*  .nav-tabs .nav-item:nth-child(1) {
        display: none;
    } */

    .product-container {
        gap: 1rem;
    }

}

@media (max-width: 450px) {

    .product-container {
        justify-content: center;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0;
        grid-template-columns: none;
        gap: 0.5rem;
    }

}