@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
    font-family: "inter", sans-serif;
}

.card {
    width: 14rem;
    border-radius: 5%;
    margin: 1.5rem;
    margin-top: 0;


    .product-image {
        width: auto;
        max-height: 8rem;
        border-radius: 7%;
        margin: 0.5rem;
    }
}

.card-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.short-description {
    font-size: .8rem;
}

.label-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0;
    padding-top: 10%;
    padding-bottom: 5%;
    align-items: center;
    width: 12rem;

    .price {
        grid-column: 1;
        font-weight: 600;
    }

    .unavailable {
        grid-column: 2;
        text-align: right;
        font-size: .8rem;
        color: red;
    }
}

/* @media (min-width: 451px) {
    .card {
        grid-template-rows: 9rem 4rem 8rem 2rem;
        height: 25rem;
        display: grid;

        .product-image {
            grid-row: 1;
        }
    }

    .card-title {
        height: 4rem;
        grid-row: 2;
    }

    .short-description {
        height: 7rem;
        grid-row: 3;
    }

    .label-container {
        grid-row: 4;
    }
} */

@media (max-width: 450px) {
    .card {
        width: 19rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 0;
        margin-bottom: 1rem;
        margin-right: 1.4rem;
        align-items: center;

        .product-image {
            max-width: 8rem;
            grid-column: 1;
            padding-left: 1rem;
        }
    }

    .card-title {
        font-size: .8rem;
        grid-column: 2;
    }

    .short-description {
        font-size: .6rem;
        grid-column: 2;
    }

    .label-container {
        width: 9rem;
        grid-column: 2;

        .price {
            font-size: .8rem;
        }

        .unavailable {
            font-size: .65rem;
        }
    }

}