.btn-yellow {
    background-color: #FFE145;
    font-weight: 600;
    font-size: 0.9rem;
    border-color: #FFE145;
    --bs-btn-hover-bg: #FFE145;
    --bs-btn-hover-border-color: #FFE145;
    --bs-btn-active-bg: #FFE145;
    --bs-btn-active-border-color: #FFE145;
    --bs-btn-hover-color: black;
    color: black;
    height: 2.2rem;
}

.btn.disabled {
    background-color: gray;
    font-weight: 600;
    font-size: 0.9rem;
    border-color: gray;
    --bs-btn-hover-bg: gray;
    --bs-btn-hover-border-color: gray;
    height: 2.2rem;
    width: auto;
    margin-top: 1rem;
}