.container_Form_Productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}

.container_Form_Receta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container_Form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Container_Ingredientes_modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -1px;
  flex-direction: row;
}