.container_Form_Productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}

.container_Form_Receta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container_Form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Container_Ingredientes_modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -1px;
  flex-direction: row;
}

.switch-button {
  background: rgba(59, 59, 59, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 300px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  position: relative;
  padding-right: 150px;
  position: relative;

  &:before {
    content: "Disponible";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked+.switch-button-label:before {
      transform: translateX(150px);
      transition: transform 300ms linear;
      background-color: rgb(33, 153, 33);
    }

    &+.switch-button-label {
      position: relative;
      padding: 15px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: rgb(155, 0, 0);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms linear;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}