@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    font-family: "inter", sans-serif;
}

.order-options {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        font-size: 0.9rem;
    }

    .delivery-options {
        display: flex;
        flex-direction: column;
    }

    .form-check-input:checked {
        background-color: #A60202;
        border-color: #A60202;
    }

    .separator {
        display: flex;
        justify-content: space-between;
    }
}

.straight-line {
    width: 100% !important;
}