@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
    font-family: "inter", sans-serif;
}

.add-to-cart-button {
    background-color: #A60202;
    font-weight: 500;
    font-size: 0.9rem;
    border-color: #A60202;
    width: 10rem;
    --bs-btn-hover-bg: #A60202;
    --bs-btn-hover-border-color: #A60202;
}

@media (max-width: 450px) {
    .add-to-cart-button {
        width: 8.5rem;
        font-size: 0.8rem;
    }
}