@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
    font-family: "inter", sans-serif;
}

.card2 {
    width: 70%;
    display: grid;
    border-radius: 1rem;
    grid-template-columns: 30% 70%;
    margin: 1.5rem;
    align-items: center;
    border-color: white;
    max-width: none;

    .product-image2 {
        width: 80%;
        grid-column: 1;
        border-radius: 1rem;
    }
}

.card-title2 {
    font-weight: 600;
    font-size: 1.3rem;
    grid-column: 2;
}

.description2 {
    font-size: 0.9rem;
    margin-bottom: 1%;
}

.short-description2 {
    font-size: .8rem;
    grid-column: 2;
    margin-bottom: 1%;
    font-weight: 600;
}

.unavailable2 {
    grid-column: 2;
    font-size: .8rem;
    color: red;
}

.available {
    grid-column: 2;
    font-size: .8rem;
    color: #4CBB17;
    margin-top: 1%;
}

.label-container2 {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    margin-left: 0;
    margin-top: 1rem;
    grid-column: 2;
    align-items: center;
    width: 100%;

    .s1 {
        font-weight: 600;
        flex: 1;
        text-align: center;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.straight-line {
    border-color: gray;
}

.add-to-cart-button {
    background-color: #A60202;
    font-weight: 500;
    font-size: 0.9rem;
    border-color: #A60202;
    width: 10rem;
    --bs-btn-hover-bg: #A60202;
    --bs-btn-hover-border-color: #A60202;
    --bs-btn-active-bg: #A60202;
    --bs-btn-active-border-color: #A60202;
    height: 2.2rem;
}

.btn.disabled {
    background-color: gray;
    font-weight: 500;
    font-size: 0.9rem;
    border-color: gray;
    width: 10rem;
    --bs-btn-hover-bg: gray;
    --bs-btn-hover-border-color: gray;
    height: 2.2rem;
}

.product-detail-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.alert-container {
    position: fixed;
    top: 3rem;
    margin-left: 1rem;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 450px) {
    .add-to-cart-button {
        width: 8.5rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 767px) {

    .card2 {
        display: flex;

        .product-image2 {
            max-height: 13rem;
            width: auto;
        }
    }
}

@media (max-width: 450px) {
    .card2 {
        width: 90%;
    }

    .card-body {
        width: 100%;
    }
}