.container_tabla {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

}

.paper {
  width: 95%;
  margin-bottom: 2;
  border-radius: .5rem;
}


.table {
  display: table;
  overflow-x: auto;
}


.tableCell {
  text-align: center !important;
  padding-right: 4;
  padding-left: 5;

}

.tableCell_ActionsDelivery {

  padding-right: 2rem;
  padding-left: 2rem;
  gap: .2rem;

  .ACocina {
    padding-right: 3rem;
    padding-left: 3rem;
    border: #F37E12;
    background-color: #F37E12;
    color: #fff;

    &:hover {
      background-color: #F37E12;
      color: black;
    }
  }

}

.tableCell_Detalle {
  text-align: center !important;
  padding-right: 4;
  padding-left: 5;
  border-right: 1px solid rgb(230, 227, 227);
}


.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1;
}