.Container_Footer {
  background-color: rgb(43, 43, 43);
  color: white;
  height: 7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Container_Foter_contact {
    margin-left: 3rem;
  }

  .Container_Foter_contact_items {
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  .PayMethods {
    margin-right: 3rem;

    .Container_cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2rem 2rem;

      i {
        font-size: 2rem;

      }

      img {
        background-color: white;
        border-radius: .2rem;
        width: 2.2rem;
        height: 1.9rem;
      }
    }
  }

}