$colorNav: white;
$secondaryColor: #EC5800;

.imgLogo {
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    background-image: url(../../../resources/logo-png.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Arrow_container {
    position: absolute;
    left: 50%;
    margin-top: 1.5rem;

    .arrowButton {
        cursor: pointer;
        height: 5rem;
        width: 5rem;
        background-color: $colorNav;
        display: flex;
        align-items: center;

        &::before {
            height: 5rem;
            width: 5rem;
            top: 5rem;
            background-color: $colorNav;
            position: absolute;
            clip-path: polygon(50% 50%, 0 0, 100% 0);
            content: "";
        }
    }
}

@media (max-width: 450px) {
    .Arrow_container {
        position: absolute;
        left: 45%;
    }
}



