.actions_Ingredientes {
  min-height: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .actions_Ingredientes_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .Select_nivelStock {

    border-radius: .5rem;
    margin-left: .5rem;
    padding: 0 1rem;
  }
}

.Container_Ingredientes {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container_input {
  padding: 0 .5rem;
  background-color: white;
  border-radius: .5rem;

  .busqueda_comida {
    background-color: transparent;
    text-align: center;
    padding: .5rem;
    outline: none;
    border: none;
  }

}