@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    font-family: "inter", sans-serif;
}

$button-color: #FFE145;

.cart-container-review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .page-name {
        margin: 1rem 0;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
    }

    .order-detail-container-review {
        display: flex;
        justify-content: center;
        transform: translate(-50% 0);
        gap: 1.5rem;
        width: 80%;
        height: auto;

        .cart-products-container-review {
            height: fit-content;
            width: 70%;
            border: 1px solid rgb(196, 196, 196);
            border-radius: .5rem;
            padding: 1rem;

            .no-products {
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 10%;
            }
        }

        .order-options-container-review {
            padding: 2rem;
            width: 30%;
            height: fit-content;
            border: 1px solid rgb(196, 196, 196);
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .button-container-1 {
        grid-row: 2;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.straight-line {
    width: 90%;
    justify-content: center;
}

.btn-cart-review {
    background-color: #FFE145;
    font-weight: 600;
    font-size: 0.9rem;
    border-color: #FFE145;
    --bs-btn-hover-bg: #FFE145;
    --bs-btn-hover-border-color: #FFE145;
    --bs-btn-active-bg: #FFE145;
    --bs-btn-active-border-color: #FFE145;
    --bs-btn-hover-color: black;
    color: black;
    height: 2.2rem;
    width: 100%;
    margin-top: 1rem;
}

.time-button,
.time-button:disabled {
    background-color: #008000;
    font-weight: 500;
    font-size: 0.9rem;
    border-color: #008000;
    width: 100%;
    --bs-btn-hover-bg: #008000;
    --bs-btn-hover-border-color: #008000;
    --bs-btn-active-bg: #008000;
    --bs-btn-active-border-color: #008000;
    min-height: 2.2rem;
    height: auto;
    margin-top: 1rem;
}

.title-order-id {
    font-size: 0.9rem;
}

.separator {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 960px) {
    .cart-container-review {
        .order-detail-container-review {
            flex-wrap: wrap;
            width: 90%;

            .cart-products-container-review {
                width: 100%;
            }

            .order-options-container-review {
                width: 100%;
            }
        }
    }
}

@media (max-width: 640px) {
    .cart-product-container-review {
        display: grid;
        grid-template-columns: 35% 65%;

        .cart-product-image {
            grid-column: 1;
        }

        .cart-product-info {
            grid-column: 2;
            width: 100%;
            padding: 0;
        }
    }

    .cart-quantity-container {
        display: grid;
        padding: 0;
        width: 100%;
        grid-template-columns: 1fr, 2fr, 3fr;
        transform: translateX(50%);

        .quantity-cart-container {
            grid-column: 1;
        }

        .delete-button {
            grid-column: 2;
        }

        .amount-cart {
            grid-column: 3;
        }
    }

}