.Container_OrderDetail {
  background-color: rgba(217, 217, 217, 0.76);
  border-radius: 1rem;
  padding: 1rem 0;
  margin: 2rem 8rem 1rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;



  .title {
    width: 90%;
    text-align: center;
    border-bottom: 2px solid black;
  }

  .Order_Data {
    width: 90%;
    margin-top: 1rem;
    list-style: none;
    gap: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    .list_Data {
      list-style: none;
    }
  }

  .table_container {
    width: 90%;

    .table_head {
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      .css-1ygcj2i-MuiTableCell-root {
        border: none;
      }
    }

    .table_row {
      background-color: #c9c8c8;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .css-1ex1afd-MuiTableCell-root {
      border: none;
    }
  }


}

.SubTotal_order {
  margin-top: .5rem;
  width: 90%;
  padding-left: 1rem;
}

.Descuentos {
  padding-left: 1rem;
  width: 90%;
  padding-bottom: .5rem;
  border-bottom: 2px solid grey;
}

.Total {
  font-weight: bold;
  font-size: 1.5rem;
  width: 90%;

}

.Button_Back {
  margin: 2rem 8rem 1rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}