.form_container_grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}