.form_container_grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.page-name {
  margin: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}