.shoppingCart {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2%;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .shoppingCart {
        right: 5%;
    }

}

@media (max-width: 450px) {
    .shoppingCart {
        right: 10%;
    }

}