.shoppingCart {
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9%;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .shoppingCart {
        right: 5%;
    }

}