.imageHomePage {
  height: 20rem;
  background-image: url(../../resources/sliderbg1_2048x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0;

  .Titulo {
    color: white;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: end;
    grid-column: 2;
  }

  .Cointainer_Busqueda_Mejores {
    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 3;
    color: white;
    gap: 2rem;
  }

  .Mejores_Burguer {
    font-size: 2rem;
    width: 50%;
    text-align: end;
    font-weight: bold;
    justify-self: center;
  }

  .Container_input {
    padding: 0 .5rem;
    background-color: white;
    border-radius: .5rem;

    .busqueda_comida {
      background-color: transparent;
      text-align: center;
      padding: .5rem;
      outline: none;
      border: none;
    }

  }

}