* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

$colorNav: white;
$secondaryColor: #EC5800;

.container-nav {
  position: absolute;
  top: auto;
  z-index: 9999;
}

.navbar-custom {
  height: 45px;
}

.link-nav {
  text-decoration: none;
}

.navbar-nav .nav-link {
  font-weight: 700;
  font-family: "inter", sans-serif;
  transition: none;
  color: black;

  &:hover {
    color: $secondaryColor;
  }
}

.navbar-nav {
  position: absolute;
}

.navbar-collapse {
  transition: none;
}

.navbar-toggler {
  position: absolute;
  --bs-navbar-toggler-focus-width: none;
  --bs-navbar-toggler-padding-y: 0.20rem;
  --bs-navbar-toggler-padding-x: 0.25rem;
  padding: 0;
  left: 5%;
}



@media (max-width: 767px) {

  .navbar-collapse {
    background-color: $colorNav;
    top: 45px;
    padding: 8px;
    padding-left: 5%;
    height: 100%;
    width: 37%;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
  }
}

@media (max-width: 450px) {

  .navbar-collapse {
    background-color: $colorNav;
    top: 45px;
    padding: 8px;
    padding-left: 5%;
    height: 100%;
    width: 37%;
    position: fixed;
    //z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

}